@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan font atau style global lainnya di bawah ini jika perlu */
html, body, #root {
  height: 100%;
}
body {
  /* Opsional: Terapkan warna latar belakang di sini juga */
  background-color: #f9fafb; /* Ini adalah nilai hex untuk gray-50 */
}
